 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/WhatsAppImage2023-02-09at16.45.56.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  text-decoration: none !important;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }
} .u-section-2 {
  background-image: linear-gradient(20deg, #adcce9, #478ac9);
}

.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: linear-gradient(#478ac9, #77aad9);
  margin: 136px 78px 0 auto;
  padding: 48px 133px 49px 131px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: linear-gradient(#478ac9, #77aad9);
  margin: -129px auto 64px 100px;
  padding: 48px 133px 49px 131px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }
}