* {
  margin: 0;
  padding: 0px;
}

.mx-auto {
  width: 80%;
}

.card {
  margin-top: 10px;
}

.thead {
  text-align: center;
  vertical-align: middle;
}

.table-position {
  vertical-align: middle;
  text-align: center;
}

.card-header {
  display: flex;
  
}

.back{
  margin-right: 10px;
}

.s{
  margin-top: 3px;
}

#h4 {
  margin: 0;
}

.search {
  width: 200px;
  margin-right: 2px;
}

.sort {
  width: 20%;
  display: flex;
  margin: 10px;
}
.search-field {
  display: flex;
  margin: 10px;
}
.data-head {
  display: flex;
  justify-content: space-between;
}
.sort-kelas {
  margin-right: 2px;
  width: 100%;
}

.table {
  width: 100%;
}


