* {
  margin: 0;
  padding: 0px;
}

.mx-auto {
  width: 80%;
}

.card {
  margin-top: 10px;
}

.thead .table-position {
  text-align: center;
  vertical-align: middle;
}

.card-header {
  display: flex;
}

.back {
  margin-right: 10px;
}

.search {
  width: 200px;
  margin-right: 2px;
}

.sort {
  width: 30%;
  display: flex;
  margin: 10px;
}
.search-field {
  display: flex;
  margin: 10px;
}
.data-head {
  display: flex;
  justify-content: space-between;
}
.sort-kelas {
  margin-right: 5px;
  width: 100%;
}
.select-mapel {
  margin-right: 5px;
  width: 100%;
}

.table {
  width: 100%;
}
.upload-file {
  display: flex;
  align-content: center;
  align-items: center;
}

.link-unduh {
  margin-bottom: 5px;
}
.import {
  padding-left: 10px;
}

.link-unduh {
  margin-left: 10px;
}

.txt-center{
  text-align: center;
}



